/.git
/.github
/.idea
/.vscode
/docker/8.1
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs
/vendor
_ide_helper.php
.editorconfig
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
auth.json
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
