<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Notification">
            <file>tests/Unit/NotificationListenersTest.php</file>
            <file>tests/Unit/MailNotificationListenersTest.php</file>
            <file>tests/Unit/WebhookNotificationListenersTest.php</file>
            <file>tests/Unit/AppriseNotificationJobsTest.php</file>
            <file>tests/Unit/NotificationTest.php</file>
            <file>tests/Feature/NotificationActionsTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="CACHE_STORE" value="database"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="database"/>
        <env name="SESSION_DRIVER" value="database"/>
    </php>
</phpunit>
