.dashboard-page .fi-section-header {
    padding-bottom: 0px;
}

.dashboard-page .fi-section-header .fi-section-header-heading {
    @apply text-sm font-medium text-zinc-700 dark:text-zinc-300;
}

.dashboard-page .fi-section-content-ctn {
    border-top: none;
}
