@import 'tailwindcss';
@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../custom.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

/* Filament Plugins */
@source '../../../../vendor/codewithdennis/filament-simple-alert/resources/**/*.blade.php';
@source inline('animate-{spin,pulse,bounce}');
@source inline('{bg,text,border,ring}-{amber,zinc}-{50,100,200,300,400,500,600,700,800,900,950}');

/* Additional styles */
.fi-topbar #dashboardAction .fi-btn-label,
.fi-topbar #speedtestAction .fi-btn-label {
    display: none;
}

.fi-fo-field-wrp-helper-text a,
.fi-fo-field-wrp-hint a {
    @apply font-bold underline;
}

@media (min-width: 768px) {
    .fi-topbar #dashboardAction .fi-btn-label,
    .fi-topbar #speedtestAction .fi-btn-label {
        display: block;
    }
}
